<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.name')%>:</th>
    <td><%= @track.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.description')%>:</th>
    <td><%= @track.description %></td>
  </tr>
  <tr>
    <th><%= t('attributes.date')%>:</th>
    <td><%= @track.date %></td>
  </tr>
  <tr>
    <th><%= t('attributes.user')%>:</th>
    <td><%= @track.user %></td>
  </tr>
  <tr>
    <th><%= t('attributes.creator')%>:</th>
    <td><%= @track.creator %></td>
  </tr>
  <tr>
    <th><%= t('attributes.trackpoints')%>:</th>
    <td><%= @track.trackpoints.count %></td>
  </tr>
</table>

<div class="btn-toolbar" role="toolbar">
  <%= back_link %>
  <%= edit_link(@track) %>
  <%= delete_link(@track) %>
  <%= new_link Track %>
  <%= link_to "Trackpoints anzeigen", track_trackpoints_path(@track), 
      class: 'btn btn-default' %>
</div>
