<h1><%= t('controller.trackpoints') %></h1>

<table id="dataTable" class="table table-bordered table-striped dataTable">
<thead>
  <tr>
    <th><%= t('attributes.longitude') %></th>
    <th><%= t('attributes.latitude') %></th>
    <th><%= t('attributes.elevation') %></th>
    <th><%= t('attributes.time') %></th>
    <th><%= t('attributes.track') %></th>
    <th><%= t('attributes.heart_rate') %></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% @trackpoints.each do |trackpoint| %>
  <%= content_tag_for(:tr, trackpoint) do %>
    <td><%= trackpoint.longitude %></td>
    <td><%= trackpoint.latitude %></td>
    <td><%= trackpoint.elevation %></td>
    <td><%= trackpoint.time %></td>
    <td><%= trackpoint.track %></td>
    <td><%= trackpoint.heart_rate %></td>
    <td class="nowrap">
      <%= show_link([@track, trackpoint]) %>
      <%= edit_link([@track, trackpoint]) %>
      <%= delete_link([@track, trackpoint]) %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
<%= link_to "Neuer Trackpoint", new_track_trackpoint_path(@track), class: 'btn btn-default' %>
